*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    border: none;
}

body{
    background: #fafafa;
    font-family: 'Raleway', sans-serif;
}

canvas {
    border: none;
}

.header{
    width:100%;
    height: 100px;
    background-color: #242324;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    letter-spacing: 10px;
    text-align: center;
    position: relative;
    color: #990000;
}

.menu{
    width: 100%;
    height: 100px;
    background-color: white;;
    display: flex;
    color: #990000;
    box-shadow: 0 3px 20px rgba(3,3,2,.2);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.incrementation {
    margin: 30px 0px 20px 0px;
    text-align: center;
    color: #242324;
    /* font-weight: bold; */
    text-transform: uppercase;
}

.container-columns{
    display: flex;
    border: 1px solid #990000;
}
  
.container-columns  > div{
    width: 32%;
    /* border: 1px solid peru; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}
  
.ship-name{
    margin: 10px 0px;
}

.floor-text-container{
    background-color: #990000;
    width: 3% !important;
    position: relative;
}
.floor-text{
    transform: translate(-50%, -50%) rotate(-90deg);
    transform-origin: right, top;
    position: absolute; 
    top: 50%;
    left: 50%;
    color: white;
}

.ship-name{
    color:#990000;
}
.ship-send{
    color: #114411;
}
.ship-label{
    margin-left: 3%;
    display: flex;
}
.ship-label  > div{
    width: 32%;
    /* border: 1px solid peru; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}


[type="radio"] {
    border-width: 1px; 
    clip: rect(0 0 0 0); 
    height: 1px; margin: -1px; 
    padding: 0; 
    width: 1px;
}

.label-radio {
    cursor: pointer;
    font-size: 16px;
    color: #242324;
    margin-right: 20px;
}

[type="radio"] + span:before {
    transform: scale(0.55); 
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    vertical-align: -0.25em;
    border-radius: 1em;
    border: 0.125em solid #fafafa;
    box-shadow: 0 0 0 0.1em #ddd;
    margin-right: 0.35em;
    transition: 0.5s ease all;
    color: #242324;

}

[type="radio"]:checked + span:before {
    background: #990000;
    box-shadow: 0 0 0 0.2em #990000;
}